<h1 translate="GLOBUS_HELP.TITLE">GLOBUS HELP</h1>

<h1 class="page-header">Downloading from Globus Online</h1>

<div id="globus_help">
    <dl class="dl-horizontal">
        <dt>1.</dt>
        <dd>
            <div>
                <p>Sign up for a <a href="https://www.globus.org/SignUp" target="_blank">Globus Online</a> account</p>
            </div>
        </dd>
        <dt>2.</dt>
        <dd>
            <div>
                <p>Download the <a href="https://www.globus.org/globus-connect-personal" target="_blank">Globus Connect Client</a> onto your machine and follow the setup instructions</p>
            </div>
        </dd>
        <dt>3.</dt>
        <dd>
            <div>
                <p>Go to TopCAT, browse and add items you wish to download to your cart. Once added, click on the <strong>Cart</strong> tab and click the <strong>Download Cart</strong> button.</p>
            </div>
        </dd>
        <dt>4.</dt>
        <dd>
            <div>
                <p>On the modal window, set the transport to <strong>Globus</strong>. You may also give a name for your download. This is the name you will see in Globus Online. Optionally enter an email address (recommended). An email will be sent to you when your files are ready to be transfered.</p>
            </div>
        </dd>
        <dt>5.</dt>
        <dd>
            <div>
                <p>Periodically check the TopCAT Download tab to see if the status of your download is complete. If you've entered your email address when submitting the Download, you can just wait until you've received an email notifying your download is ready.</p>
            </div>
        </dd>
        <dt>6.</dt>
        <dd>
            <div>
                <p>Once your download is ready, login to <a href="https://www.globus.org/SignIn" target="_blank">Globus Online</a> and navigate to Quick Links → Transfer Files.</p>
            </div>
        </dd>
        <dt>7.</dt>
        <dd>
            <div>
                <p>In the left panel enter your personal endpoint name eg. <strong>username#endpointname</strong></p>
            </div>
        </dd>
        <dt>8.</dt>
        <dd>
            <div>
                <p>In the right panel enter the endpoint: <strong>stfc#dls</strong></p>
            </div>
        </dd>
        <dt>9.</dt>
        <dd>
            <div>
                <p>You will then be prompted to login. You can use your Diamond/Federal Credentials</p>
            </div>
        </dd>
        <dt>10.</dt>
        <dd>
            <div>
                <p>If your download request is ready, you should see a folder with the name you set earlier. You can now initiate a transfer of your request files to your endpoint.</p>
            </div>
        </dd>
    </dl>
</div>
