<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/topcatv2.log</file>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>../logs/topcatv2.log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>14</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="org.apache.http.wire" level="ERROR" />
	<logger name="org.apache.http" level="WARN" />
	<root level="DEBUG">
		<appender-ref ref="logfile" />
	</root>
</configuration>