#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h1 Combining Grid Columns

```
{
  "facilities": {
    "dls": {
      "browse": {
        "investigation": {
            "gridOptions": {
              
            },
            "metaTabs": [...]
        },
        "proposal": {...},
        "dataset": {...},
        "datafile": {...}
      }
    }
  }
}
```