#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h1 Combining Grid Columns

The following partial configuration shows how you can combine columns:

```
{
  "facilities": [
    {
      "browse": {
        "investigation": {
            "gridOptions": {
              columnDefs: [
                {
                  "field": "investigationVisit",
                  "jpqlExpression": "CONCAT(investigation.name, '-', investigation.visitId)",
                  "cellTemplate": "<div class='ui-grid-cell-contents'>{{row.entity.name}}-{{row.entity.visitId}}</div>"
                }
              ]
            },
            "metaTabs": [...]
        },
        "proposal": {...},
        "dataset": {...},
        "datafile": {...}
      }
    
  ]
}
```

  * The "field" attribute can be anything you want but will map on a lang.json substitution; in this case BROWSE.COLUMN.INVESTIGATION.INVESTIGATION_VISIT.
  * The "jpqlExpression" attribute is a jpql expression that represents this column; this gets used by both filtering and sorting.
  * The "cellTemplate" attribute is an angular template for this particular column's cells.

