

# Cookbook

Here are the current recipes:

  * [Combining grid columns](combining-grid-columns.html)
  * [Advanced metatabs](advanced-metatabs.html)
  * [Replacing the loading spinner](replacing-loading-spinner.html)

