# The Info button: how to lose it, and how to get it back

In the Browse view, normally Topcat will add an Info button to the first column that opens the metatabs view for that row's entity. However, if topcat.json defines a custom cellTemplate for that column, then the Info button will not be added.  Thus an unwanted Info button can be removed/avoided by defining a cellTemplate for the first column, e.g.

```
{
  "facilities": [
    {
      "browse": {
        "investigation": {
            "gridOptions": {
              columnDefs: [
                {
                  "field": "investigationVisit",
                  "cellTemplate": "<div class='ui-grid-cell-contents'>{{row.entity.name}}</div>",
                  ...
                }
              ]
            },
            "metaTabs": [...]
        },
        "proposal": {...},
        "dataset": {...},
        "datafile": {...}
      }
    
  ]
}
```

The first column often contains a drill-down link; so to remove the Info button but preserve the link, you will need something like this:

```
    "cellTemplate": "<a ng-click=\"grid.appScope.browse(row.entity)\"><div class='ui-grid-cell-contents'>{{row.entity.name}}</div></a>",
```

If you need to use a custom cellTemplate for the first column, but also want an Info button, then the button can be added explicitly in the template, though it's a little long-winded:

```
    "cellTemplate": "<div class='ui-grid-cell-contents'><a ng-click=\"grid.appScope.showTabs(row)\" class=\"btn btn-xs glyphicon glyphicon-info-sign\" uib-tooltip=\"{{&quot;BROWSE.INTERFACE.TOGGLE_METATABS_TOOLTIP.TEXT&quot; | translate}}\" tooltip-placement=\"right\"></a> {{row.entity.name}}</div>"
```

