# Derby Database
!db.target   = derby
!db.driver   = org.apache.derby.jdbc.ClientDataSource
!db.url      = jdbc:derby:topcat;create\\=true
!db.username = APP
!db.password = APP

# Oracle
!db.driver      = oracle.jdbc.pool.OracleDataSource
!db.url         = jdbc:oracle:thin:@//fgfdfg-ff.foo.ac.uk:1521/oracal.bar.ac.uk
!db.url         = jdbc:oracle:thin:@//localhost:1521/XE
!db.username    = icat
!db.password    = secret

# MySQL Database
db.target      = mysql
db.url         = jdbc:mysql://localhost:3306/topcat
db.driver      = com.mysql.jdbc.jdbc2.optional.MysqlDataSource
db.username    = icat
db.password    = icat

secure         = true
container      = Glassfish
home           = /home/fisher/pf/glassfish4
port           = 4848

# Email setup see http://docs.oracle.com/cd/E26576_01/doc.312/e24938/create-javamail-resource.htm#GSRFM00035
mail.host=smtp.example.com
mail.user=user@example.com
mail.from=no-reply@example.com

#see https://javamail.java.net/nonav/docs/api/ for list of properties
mail.property=mail.smtp.port="25":mail.smtp.from="no-reply@example.com"
