# general
file.directory=d:/temp/preparedIds

# ids details to get status of files. Setting only required for 2 level storage
# format: topcat_facility_key authentiation_type 'username' username 'password' password
# Note string with ' ' are literal strings and should not be changed (unless your
# authenticator uses a different key other than 'username' and 'password'
# If more than one ids then a comma should be used to separate each one
ids.readers = dls db username root password password

# enable send email
mail.enable=true

# The email subject. Tokens available are:
# ${userName} - user username
# ${email} - user email
# ${facilityName} - the facility key (defined in frontend config)
# ${preparedId} - the prepared Id of the download request
# ${fileName} - the download name
# ${downloadUrl} - the download url
mail.subject = TopCAT Download ${fileName} Completed

# The email body message for https downloads. All subject tokens as above are available.
mail.body.https = Hi ${userName},\n\nYour download ${fileName} has completed and ready for download at ${downloadUrl}.\n\nThank you for using TopCAT.

# The email body message for https downloads. All subject tokens as above are available.
mail.body.globus = Hi ${userName}, \n\nYour Globus download ${fileName} is ready. Please see https:/example.com/#/globus-faq for more information on how to download using Globus.\n\nThanks you for using TopCAT






