# Derby Database Properties
driver=org.apache.derby.jdbc.ClientDataSource
dbProperties=Password=APP:User=APP:serverName=localhost:DatabaseName=topcat:connectionAttributes=";"create"'"="'"true

# MySQL Database Properties
#driver=com.mysql.jdbc.jdbc2.optional.MysqlDataSource
#dbProperties=user=topcat:password=secret:databaseName=topcat

# Oracle Database Properties
#driver=oracle.jdbc.pool.OracleDataSource
#dbProperties=url="jdbc:oracle:thin:@//localhost:1521/XE":ImplicitCachingEnabled=true:MaxStatements=200:user=topcat:password=secret

# Glasfish home, must contain "glassfish/domains"
glassfish=/opt/glassfish4

# Glassfish admin port (default 4848)
port=4848

#url root context where topcat will be deployed. use / for root context or enter your required url but do not end with /
topcatUrlRoot=/

# Email setup see http://docs.oracle.com/cd/E26576_01/doc.312/e24938/create-javamail-resource.htm#GSRFM00035
#the smtp host address
mail.host=smtp.example.com

#name of mail acount user when connecting to the mail server
mail.user=user@example.com

#mail from address
mail.from=no-reply@example.com

#see https://javamail.java.net/nonav/docs/api/ for list of properties
mail.property=mail.smtp.port="25":mail.smtp.from="no-reply@example.com"

