<div class="row">
    <ul class="nav nav-tabs nav-tabs-head" role="tablist">
        <li ui-sref-active="active"><a ui-sref="home.my-data" role="tab" translate="MAIN_NAVIGATION.MAIN_TAB.MY_DATA"></a></li>
        <li ng-class="{active : $state.includes('home.browse')}"><a ui-sref="home.browse.facility" role="tab" translate="MAIN_NAVIGATION.MAIN_TAB.BROWSE"></a></li>
        <li ui-sref-active="active"><a ui-sref="home.search" role="tab" translate="MAIN_NAVIGATION.MAIN_TAB.SEARCH"></a></li>
        <li ui-sref-active="active"><a ui-sref="home.cart" role="tab" translate="MAIN_NAVIGATION.MAIN_TAB.CART"></a></li>
        <li ui-sref-active="active"><a ui-sref="home.download" role="tab" translate="MAIN_NAVIGATION.MAIN_TAB.DOWNLOAD"></a></li>
    </ul>
    <div ui-view="my-data" ng-show="$state.includes('home.my-data')"></div>
    <div ui-view="browse" ng-show="$state.includes('home.browse')"></div>
    <div ui-view="search" ng-show="$state.includes('home.search')"></div>
    <div ui-view="cart" ng-show="$state.includes('home.cart')"></div>
    <div ui-view="download" ng-show="$state.includes('home.download')"></div>
</div>