
<div class="row">
    <div class="{{browseEntitiesController.gridAlternativeView ? 'col-sm-12' : 'col-sm-10'}}" ng-controller="BreadcrumbController as breadcrumbController">
        <ul class="breadcrumb">
            <li ng-repeat="item in breadcrumbController.items">
                <span>
                    <a href="{{item.href}}" ng-if="item.href" compile="item.template"></a>
                    <span ng-if="!item.href" compile="item.template"></span>
                </span>
            </li>
        </ul>
    </div>
    <div ng-if="!browseEntitiesController.gridAlternativeView" class="col-sm-2">
        <div class="result-count">
            <span ng-if="browseEntitiesController.totalItems === undefined" class="loading">&nbsp;</span>
            <span ng-if="browseEntitiesController.totalItems !== undefined">
                Results: {{browseEntitiesController.totalItems}}
            </span>
        </div>
    </div>
</div>

<div ng-if="browseEntitiesController.gridOptions.enableUpload" class="text-right">
    <button class="btn btn-primary btn-xs" ng-click="browseEntitiesController.upload()">Upload</button>
    <br><br>
</div>

<widget ng-if="browseEntitiesController.gridAlternativeView" view="browseEntitiesController.gridAlternativeView" controller="browseEntitiesController.gridAlternativeController"></widget>

<span ng-if="!browseEntitiesController.gridAlternativeView" ng-repeat="externalGridFilter in browseEntitiesController.externalGridFilters" bind-html-compile="externalGridFilter.template"></span>

<div>
    <div ng-if="!browseEntitiesController.gridAlternativeView && browseEntitiesController.isScroll" ui-grid="browseEntitiesController.gridOptions" ui-grid-infinite-scroll ui-grid-selection ui-grid-save-state ui-grid-selection ui-grid-resize-columns  class="browse-grid" take-up-remaining-height>
        <div class="no-rows row" ng-show="!browseEntitiesController.isLoading && browseEntitiesController.gridOptions.data.length == 0">
            <div class="col-xs-12 empty-message" translate="BROWSE.NO_RESULTS"></div>
        </div>
        <div class="no-rows row" ng-show="browseEntitiesController.isLoading">
            <div class="col-xs-12 empty-message" translate="BROWSE.LOADING"></div>
        </div>
    </div>

    <div ng-if="!browseEntitiesController.gridAlternativeView && !browseEntitiesController.isScroll" ui-grid="browseEntitiesController.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-save-state ui-grid-selection ui-grid-resize-columns class="browse-grid" take-up-remaining-height>
        <div class="no-rows row" ng-show="isEmpty">
            <div class="no-rows row" ng-show="!browseEntitiesController.isLoading && browseEntitiesController.gridOptions.data.length == 0">
                <div class="col-xs-12 empty-message" translate="BROWSE.NO_RESULTS"></div>
            </div>
            <div class="no-rows row" ng-show="browseEntitiesController.isLoading">
                <div class="col-xs-12 empty-message" translate="BROWSE.LOADING"></div>
            </div>
        </div>
    </div>
</div>