
<ul class="breadcrumb">
    <li >
        <a href="#/browse/facility" translate="BROWSE.BREADCRUMB.ROOT.NAME"></a>
    </li>
    <li>
        <i translate="ENTITIES.FACILITY.NAME"></i>
    </li>
</ul>

<div>
    <div ng-if="browseFacilitiesController.isScroll" ui-grid="browseFacilitiesController.gridOptions" ui-grid-infinite-scroll ui-grid-selection ui-grid-save-state class="browse-grid">
        <div class="no-rows row" ng-show="isEmpty">
            <div class="col-md-2 col-md-offset-5 empty-message">
                <span translate="BROWSE.EMPTY"></span>
            </div>
        </div>
    </div>

    <div ng-if="!browseFacilitiesController.isScroll" ui-grid="browseFacilitiesController.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-save-state class="browse-grid">
        <div class="no-rows row" ng-show="isEmpty">
            <div class="col-md-2 col-md-offset-5 empty-message">
                <span translate="BROWSE.EMPTY"></span>
            </div>
        </div>
    </div>
</div>