<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" translate="CART.TITLE"></h3>
    </div>
    <div class="modal-body" take-up-remaining-height>
        <div ng-if="cartController.isScroll" ui-grid="cartController.gridOptions" ui-grid-infinite-scroll ui-grid-selection class="cart-grid" style="height: 100%">
            <div class="no-rows row" ng-show="isEmpty">
                <div class="col-md-2 col-md-offset-5 empty-message">
                    <span translate="CART.EMPTY"></span>
                </div>
            </div>
        </div>

        <div ng-if="!cartController.isScroll" ui-grid="cartController.gridOptions" ui-grid-pagination ui-grid-selection class="cart-grid" style="height: 100%">
            <div class="no-rows row" ng-show="isEmpty">
                <div class="col-md-2 col-md-offset-5 empty-message">
                    <span translate="CART.EMPTY"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <b>Total size: {{cartController.totalSize|bytes}}</b>
        </div>
        <br>
        <button ng-click="cartController.removeAll()" type="button" class="btn btn-primary" translate="CART.BUTTON.REMOVE_ALL.TEXT" ng-class="{'disabled' : items.length === 0 }" tooltip="Click to remove all items from cart" tooltip-append-to-body="true" tooltip-placement="top"></button>

        <button type="button" class="btn btn-primary" ng-click="cartController.download()" translate="CART.BUTTON.DOWNLOAD_CART.TEXT" uib-tooltip="{{'CART.BUTTON.DOWNLOAD_CART.TOOLTIP.TEXT' | translate}}" tooltip-placement="top" tooltip-append-to-body="true"></button>

        <button class="btn btn-warning" ng-click="cartController.cancel()">Cancel</button>
    </div>
</div>
