<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" translate="CART.TITLE"></h3>
    </div>
    <div class="modal-body">
        <div ng-if="cartController.isScroll" ui-grid="cartController.gridOptions" ui-grid-infinite-scroll ui-grid-selection ui-grid-selection ui-grid-resize-columns  class="cart-grid" take-up-remaining-height>
            <div class="no-rows row" ng-show="isEmpty">
                <div class="col-md-2 col-md-offset-5 empty-message">
                    <span translate="CART.EMPTY"></span>
                </div>
            </div>
        </div>

        <div ng-if="!cartController.isScroll" ui-grid="cartController.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-selection ui-grid-resize-columns  class="cart-grid" take-up-remaining-height>
            <div class="no-rows row" ng-show="isEmpty">
                <div class="col-md-2 col-md-offset-5 empty-message">
                    <span translate="CART.EMPTY"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <b>Total size: <span us-spinner="{radius:2, width:2, length: 2}"  spinner-on="cartController.totalSize === undefined" class="grid-cell-spinner" style="display: inline-block; height: 14px; width: 14px"></span> <span ng-if="cartController.totalSize !== undefined">{{cartController.totalSize|bytes}}</span></b>
        </div>
        <br>

        <button
            ng-repeat="button in cartController.buttons"
            ng-click="button.click()"
            ng-show="button.show() === undefined ? true : button.show()"
            type="button"
            class="{{button.class}}"
            translate="{{button.translate}}"
            translate-values="{{button.translateValues}}"
            uib-tooltip="{{button.translateTooltip | translate}}"
            tooltip-append-to-body="true"
            tooltip-placement="top">
        </button>


    </div>
</div>
