
    
<div class="input-group datetime-picker-input" uib-dropdown dropdown-append-to-body>
    <div ng-if="!(value == undefined || value == '')" role="button" class="ui-grid-filter-button" ng-click="datetimePickerController.clear()">
        <i class="ui-grid-icon-cancel" aria-label="Remove Filter">&nbsp;</i>
    </div>
    <input type="text" class="form-control input-sm" ng-model="value" placeholder="{{datetimePickerController.placeholder}}">
    <span class="input-group-btn">
        <button type="button" class="btn btn-default input-sm" uib-dropdown-toggle><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    <div  uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" ng-click="$event.stopPropagation();" class="datetime-picker dropdown-menu-right">

        <uib-datepicker ng-if="datetimePickerController.isOnlyDate" ng-model="datetimePickerController.datetime" min-date="minDate" show-weeks="true" class="date" ng-change="datetimePickerController.ok()"></uib-datepicker>

        <uib-datepicker ng-if="!datetimePickerController.isOnlyDate" ng-model="datetimePickerController.datetime" min-date="minDate" show-weeks="true" class="date"></uib-datepicker>

        <uib-timepicker ng-if="!datetimePickerController.isOnlyDate" ng-model="datetimePickerController.datetime" class="time" show-meridian="false" show-seconds="true" second-step="1"></uib-timepicker>

        <div class="buttons">
            <button type="button" class="btn btn-danger btn-sm pull-left" ng-click="datetimePickerController.clear()">Clear</button>
            <button type="button" class="btn btn-primary btn-sm" ng-click="datetimePickerController.ok()">OK</button>
            <button type="button" class="btn btn-warning btn-sm" ng-click="datetimePickerController.close()">Close</button>
        </div>
    </div>
</div>
