<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" translate="DOWNLOAD.TITLE"></h3>
    </div>
    <div class="modal-body" take-up-remaining-height>
        <div ng-if="downloadsController.isScroll" ui-grid="downloadsController.gridOptions" ui-grid-infinite-scroll ui-grid-selection ui-grid-selection ui-grid-resize-columns  class="cart-grid" style="height: 100%">
            <div class="no-rows row" ng-show="isEmpty">
                <div class="col-md-2 col-md-offset-5 empty-message">
                    <span translate="DOWNLOAD.EMPTY"></span>
                </div>
            </div>
        </div>
        <div ng-if="!downloadsController.isScroll" ui-grid="downloadsController.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns  class="cart-grid" style="height: 100%">
            <div class="no-rows row" ng-show="isEmpty">
                <div class="col-md-2 col-md-offset-5 empty-message">
                    <span translate="DOWNLOAD.EMPTY"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="downloadsController.cancel()" translate="DOWNLOAD.BUTTON.CANCEL.TEXT"></button>
    </div>
</div>
