<div class="modal-header">
    <h3 class="modal-title">Download</h3>
</div>
<div class="modal-body">
    <p>You cart required files from {{dcm.idsCount}} server(s).
    <form role="form">
        <table class="table-bordered table-condensed" width="100%">
            <tr>
                <th>
                    Filename
                </th>
                <th>
                    Transport
                </th>
                <th>
                    Size
                </th>
                <th>
                    Server
                </th>
                <th>
                    Availability
                </th>
            </tr>
            <tr ng-repeat="download in dcm.downloads">
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Filename" ng-model="download.fileName" />
                </td>
                <td>
                    <select ng-options="item.displayName for item in download.transportOptions" ng-model="download.transportType"></select>
                </td>
                <td>
                    <span us-spinner="{radius:2, width:2, length: 2}" spinner-key="spinner-size-{{download.facilityName}}" class="element-spinner"></span><span load-download-size ng-model="download">{{download.size | bytes}}</span>
                </td>
                <td>
                    <span>{{download.facilityName | facilityTitle}}</span>
                </td>
                <td>
                    <span us-spinner="{radius:2, width:2, length: 2}" spinner-key="spinner-status-{{download.facilityName}}" class="element-spinner"></span><span load-download-status ng-model="download">{{download.availability}}</span>
                </td>
            </tr>
        </table>
        <div class="panel panel-default has-archived">
            <div class="panel-body">
                A requested download has items that are archived and must be restored.
                Please check your Download Order periodically for the availablilty status. When
                the status is "Online", you can initiate the download of your files.
            </div>
        </div>

        <div>
            Email me when download is ready <input type="text" class="form-control input-sm inline" id="emailNotification" placeholder="email@address" ng-model="dcm.form.email" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="dcm.ok(filter.form)">OK</button>
    <button class="btn btn-warning" ng-click="dcm.cancel()">Cancel</button>
</div>