<div class="modal-header">
    <h3 class="modal-title" translate="CART.DOWNLOAD.MODAL.TITLE"></h3>
</div>
<div class="modal-body">
    <p translate="CART.DOWNLOAD.MODAL.MESSAGE"></p>
    <form role="form">
        <table class="table-bordered table-condensed" width="100%">
            <tr>
                <th translate="CART.DOWNLOAD.MODAL.COLUMN.FILE_NAME"></th>
                <th translate="CART.DOWNLOAD.MODAL.COLUMN.TRANSPORT"></th>
                <th translate="CART.DOWNLOAD.MODAL.COLUMN.SIZE"></th>
                <th>
                    <span translate="CART.DOWNLOAD.MODAL.COLUMN.ESTIMATED_TIME"></span>
                    -
                    <select ng-model="downloadCartController.connectionSpeed">
                        <option value="1048576">1 megabyte {{"CART.DOWNLOAD.MODAL.COLUMN.CONNECTION" | translate}}</option>
                        <option value="31457280">30 megabyte {{"CART.DOWNLOAD.MODAL.COLUMN.CONNECTION" | translate}}</option>
                        <option value="104857600">100 megabyte {{"CART.DOWNLOAD.MODAL.COLUMN.CONNECTION" | translate}}</option>
                    </select>
                </th>
                <th ng-if="downloadCartController.facilityCount > 1" translate="CART.DOWNLOAD.MODAL.COLUMN.FACILITY"></th>
                <th translate="CART.DOWNLOAD.MODAL.COLUMN.AVAILABILITY"></th>
            </tr>
            <tr ng-repeat="download in downloadCartController.downloads">
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Filename" ng-model="download.fileName" />
                </td>
                <td>
                    <select ng-options="item for item in download.transportTypes" ng-model="download.transportType"></select>
                </td>
                <td>
                    <span us-spinner="{radius:2, width:2, length: 2}"  spinner-on="download.size === undefined" class="grid-cell-spinner"></span><span>{{download.size | bytes}}</span>
                </td>
                <td>
                    <span us-spinner="{radius:2, width:2, length: 2}"  spinner-on="download.estimatedTime === undefined" class="grid-cell-spinner"></span><span>{{download.estimatedTime / downloadCartController.connectionSpeed | timeLength}}</span>
                <td ng-if="downloadCartController.facilityCount > 1">
                    <span>{{download.facilityName}}</span>
                </td>
                <td>
                    <span us-spinner="{radius:2, width:2, length: 2}"  spinner-on="download.availability === undefined" class="grid-cell-spinner"></span><span>{{download.availability}}</span>
                </td>
            </tr>
        </table>

        <div ng-if="downloadCartController.hasArchive">
            <div class="panel panel-default" >
                <div class="panel-body" >
                    <p translate="CART.DOWNLOAD.MODAL.IS_ARCHIVED_MESSAGE"></p>
                </div>
            </div>

            <div>
                <p translate="CART.DOWNLOAD.MODAL.EMAIL_ME_MESSAGE"></p><input type="text" class="form-control input-sm inline" id="emailNotification" placeholder="email@address" ng-model="downloadCartController.email" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="downloadCartController.ok()" translate="CART.DOWNLOAD.MODAL.BUTTON.OK.TEXT"></button>

    <button class="btn btn-warning" ng-click="downloadCartController.cancel()" translate="CART.DOWNLOAD.MODAL.BUTTON.CANCEL.TEXT"></button>
</div>