<h1 translate="LOGIN.PAGE_TITLE"></h1>
<div class="row" ng-show="loginController.isIE9">
    <div class="text-center">
        <h3 style="color: red;">IE 9 or below Detected. Your browser is currently not supported</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div ng-if="indexController.nonUserFacilities.length > 0">
            <form novalidate name="loginController.form">
                <fieldset>
                    <div class="form-group" ng-hide="loginController.facilities.length <= 1">
                        <label class="control-label" for="server">{{'LOGIN.FACILITY' | translate}}</label>
                        <select id="facilityName" name="facilityName" class="form-control" ng-model="loginController.facilityName" ng-options="facility.config().name as facility.config().title for facility in loginController.nonUserFacilities" ng-change="loginController.facilityChanged()" required>
                        </select>
                    </div>
                    <div class="form-group" ng-hide="loginController.authenticationTypes.length <= 1">
                        <label class="control-label" for="plugin">{{'LOGIN.AUTHENTICATION_TYPE' | translate}} </label>
                        <select id="plugin" name="plugin" class="form-control" ng-model="loginController.authenticationType" ng-options="authenticationType as authenticationType.title for authenticationType in loginController.authenticationTypes" required>
                        </select>
                    </div>
                    <div class="form-group" ng-if="loginController.authenticationType.plugin != 'anon' && !loginController.authenticationType.external">
                        <label class="control-label" for="username">{{'LOGIN.USERNAME' | translate}}</label>
                        <input id="username" name="username" placeholder="{{'LOGIN.USERNAME' | translate}}" class="form-control" type="text" ng-model="loginController.userName" required>
                    </div>
                    <div class="form-group" ng-if="loginController.authenticationType.plugin != 'anon' && !loginController.authenticationType.external">
                        <label class="control-label" for="password">{{'LOGIN.PASSWORD' | translate}}</label>
                        <input id="password" name="password" placeholder="{{'LOGIN.PASSWORD' | translate}}" class="form-control" type="password" ng-model="loginController.password" required>
                    </div>
                    <div class="form-group">
                        <button ng-if="loginController.plugin != 'cas'" type="submit" id="login" class="btn btn-primary" ng-click="loginController.login()" ng-disabled="loginController.form.$invalid">{{'LOGIN.LOGIN_BUTTON' | translate}}</button>

                        <a ng-if="loginController.plugin == 'cas'" id="login" class="btn btn-primary" href="{{loginController.authenticationTypesIndex[loginController.plugin].casUrl}}/login?service={{loginController.casService}}" ng-disabled="loginController.form.$invalid">{{'LOGIN.LOGIN_BUTTON' | translate}}</a>
                    </div>
                </fieldset>
            </form>
            {{'LOGIN.FOOTER' | translate}}
        </div>
        <div ng-if="indexController.nonUserFacilities.length == 0">
            <div class="well well-lg">{{'LOGIN.INFO.NO_MORE_FACILITIES' | translate}}</div>
        </div>
    </div>
</div>
