<h1 translate="MY_DATA.TITLE"></h1>

<div class="my-data-container">
    <div ng-if="md.isScroll" ui-grid="md.gridOptions" ui-grid-infinite-scroll ui-grid-selection class="my-data-grid">
        <div class="no-rows row" ng-show="isEmpty">
            <div class="col-md-2 col-md-offset-5 empty-message">
                <span>You no not have any data</span>
            </div>
        </div>
    </div>

    <div ng-if="!md.isScroll" ui-grid="md.gridOptions" ui-grid-pagination ui-grid-selection class="my-data-grid">
        <div class="row" ng-show="isEmpty">
            <div class="empty-message center-block">
                <span>You no not have any data</span>
            </div>
        </div>
    </div>
</div>
