<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar">
            
            <div class="search-form">
                <form role="form" novalidate>
                    <div class="form-group has-feedback">
                        <label class="control-label sr-only" for="searchText"></label>
                        <input type="text" class="form-control input-sm" id="searchText" translate translate-attr-placeholder="SEARCH.FORM.SEARCH_TEXT_PLACEHOLDER" ng-model="searchController.text" on-return-click-submit-button>
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>

                    <div class="form-group">
                        <p class="input-group">
                            <input type="text" class="form-control input-sm" uib-datepicker-popup="{{searchController.dateFormat}}" ng-model="searchController.startDate" is-open="searchController.isStartDateOpen"  close-text="Close" placeholder="{{'SEARCH.FORM.START_DATE_PLACEHOLDER' | translate}}" on-return-click-submit-button />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default input-sm" ng-click="searchController.openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="input-group">
                            <input type="text" class="form-control input-sm" uib-datepicker-popup="{{searchController.dateFormat}}" ng-model="searchController.endDate" is-open="searchController.isEndDateOpen" close-text="Close" placeholder="{{'SEARCH.FORM.END_DATE_PLACEHOLDER' | translate}}" on-return-click-submit-button />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default input-sm" ng-click="searchController.openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div ng-if="searchController.enableParameters || searchController.enableSamples" class="form-group">
                        <div class="btn-group btn-group-justified" role="group">
                            <div ng-if="searchController.enableParameters" class="btn-group" role="group">
                                <button class="form-control btn btn-default btn-sm" ng-click="searchController.openParameterModal()" translate="SEARCH.FORM.ADD_PARAMETER_BUTTON"></button>
                            </div>
                            <div ng-if="searchController.enableSamples" class="btn-group" role="group">
                                <button class="form-control btn btn-default btn-sm" ng-click="searchController.openSampleModal()" translate="SEARCH.FORM.ADD_SAMPLE_BUTTON"></button>
                            </div>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon"><input type="checkbox" ng-model="searchController.investigation"></label>
                            <span class="form-control" translate="ENTITIES.INVESTIGATION.NAME"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon"><input type="checkbox" ng-model="searchController.dataset"></label>
                            <span class="form-control" translate="ENTITIES.DATASET.NAME"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon"><input type="checkbox" ng-model="searchController.datafile"></label>
                            <span class="form-control" translate="ENTITIES.DATAFILE.NAME"></span>
                        </div>
                    </div>

                    <div class="form-group" ng-repeat="parameter in searchController.parameters">
                        <div class="input-group">
                            <div class="form-control">{{parameter.name}} = {{parameter.value}}</div>
                            <div class="input-group-addon" ng-click="searchController.removeParameter(parameter)"><span class="glyphicon glyphicon-remove"></span></div>
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="sample in searchController.samples">
                        <div class="input-group">
                            <div class="form-control">{{sample}}</div>
                            <div class="input-group-addon" ng-click="searchController.removeSample(sample)"><span class="glyphicon glyphicon-remove"></span></div>
                        </div>
                    </div>
                    <div ng-show="searchController.facilities.length > 1">
                        <div class="form-group" ng-repeat="facility in searchController.facilities">
                            <div class="input-group">
                                <label class="input-group-addon"><input type="checkbox" ng-model="facility.selected"></label>
                                <span class="form-control">{{facility.title}}</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="form-control btn btn-default" ng-click="searchController.search()" translate="SEARCH.FORM.SEARCH_BUTTON"></button>
                </form>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="box results-box">
                <div ui-view></div>
            </div>
            <div class="box meta-box">
                <div ui-view="meta-view"></div>
            </div>
        </div>
    </div>
</div>