<h1 translate="ABOUT.TITLE"></h1>

<div translate="ABOUT.HTML"></div>

<div>
    <p>TopCAT allows you to browse and download archived data from beamline experiments at Diamond Light Source.</p>

    <h3>How to use TopCAT</h3>

    <h4>Logging in</h4>
    <p>When you first access TopCAT, you will be presented with a login page.</p>

    <img src="images/guide/login.png" alt="Login" />

    <p>You can login by entering your the username and password provided by diamond. Alternatively, to view only public data, select <strong><em>Anonymous</em></strong> from the <strong>Authentication Type</strong> drop down menu anc click login.</p>

    <p>Once logged in, you will see four tabs<p>
    <img src="images/guide/tabs.png" alt="Login" />

    <!-- <ul>
        <li><a ui-sref="home.my-data">My Data</a></li>
        <li><a ui-sref="home.browse">Browse</a></li>
        <li><a ui-sref="home.cart">Cart</a></li>
        <li><a ui-sref="home.download">Download</a></li>
    </ul> -->

    <h4>My Data</h4>
    <p>The <a ui-sref="home.my-data">My Data</a> tab gives you quick access to all your investigations and is presented in a grid. Investigatons can be sorted by clicking on the column title. If a column has an input box, you can use it to filter results. Wildcard filter is possible using the character '%''. Dates must be entered in the format YYYY-MM-DD.</p>


    <p>If you click on a row (make sure it is not a hyperlink), tabs will appear on the bottom half of the page. Each tab gives you more information about the investigation.</p>

    <p>On the very first column of each row on the grid, you will see a tick box. Clicking this box will add or remove the selected investigation to your <a ui-sref="home.cart">Cart</a>. You can use the number of items indicator on the top right corner to see if an item was added or removed. Multiple items can be added using the "Shift" key.</p>




</div>


