<h1 translate="MY_DATA.TITLE"></h1>


<div ng-show="myDataController.facilities.length > 1">
    <ul class="nav nav-tabs nav-tabs-head">
        <li ng-repeat="facility in myDataController.facilities" ng-class="{active: facility.config().name == $state.params.facilityName}">
            <a ui-sref="home.my-data({facilityName: facility.config().name})">{{facility.config().title}}</a>
        </li>
    </ul>
    <br>
</div>
<div ng-if="myDataController.isScroll" ui-grid="myDataController.gridOptions" ui-grid-infinite-scroll ui-grid-selection ui-grid-selection ui-grid-resize-columns  class="my-data-grid" take-up-remaining-height>
    <div class="no-rows row" ng-show="!myDataController.isLoading && myDataController.gridOptions.data.length == 0">
        <div class="col-xs-12 empty-message" translate="MY_DATA.NO_RESULTS"></div>
    </div>
    <div class="no-rows row" ng-show="myDataController.isLoading">
        <div class="col-xs-12 empty-message" translate="MY_DATA.LOADING"></div>
    </div>
</div>
<div ng-if="!myDataController.isScroll" ui-grid="myDataController.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-selection ui-grid-resize-columns  class="my-data-grid" take-up-remaining-height>
    <div class="no-rows row" ng-show="myDataController.gridOptions.data.length == 0">
        <div class="no-rows row" ng-show="!myDataController.isLoading && myDataController.gridOptions.data.length == 0">
            <div class="col-xs-12 empty-message" translate="MY_DATA.NO_RESULTS"></div>
        </div>
        <div class="no-rows row" ng-show="myDataController.isLoading">
            <div class="col-xs-12 empty-message" translate="MY_DATA.LOADING"></div>
        </div>
    </div>
</div>
