<!-- <ul class="breadcrumb" style="position: absolute;" ng-show="vm.currentEntityType != 'facility'">
    <li ng-repeat="item in vm.structure">
        <span ng-class="{current : vm.currentEntityType == item}">{{ item }}</span>
    </li>
</ul> -->
<div bread-crumb></div>
<div>
    <div ng-if="isScroll" ui-grid="gridOptions" ui-grid-infinite-scroll ui-grid-selection ui-grid-save-state class="browse-grid">
        <div class="no-rows row" ng-show="isEmpty">
            <div class="col-md-2 col-md-offset-5 empty-message">
                <span translate="BROWSE.EMPTY"></span>
            </div>
        </div>
    </div>

    <div ng-if="!isScroll" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-save-state class="browse-grid">
        <div class="no-rows row" ng-show="isEmpty">
            <div class="col-md-2 col-md-offset-5 empty-message">
                <span translate="BROWSE.EMPTY"></span>
            </div>
        </div>
    </div>
</div>