<div class="search-form">
    <form role="form" novalidate>
        <div class="form-group has-feedback">
            <label class="control-label sr-only" for="searchText"></label>
            <input type="text" class="form-control input-sm" id="searchText" translate translate-attr-placeholder="SEARCH.FORM.SEARCH_TEXT_PLACEHOLDER" ng-model="searchFormController.text" on-return-click-submit-button>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <div class="form-group">
            <select class="form-control input-sm" ng-model="searchFormController.type" required on-return-click-submit-button >
                <option style="display:none" value="" translate="SEARCH.FORM.SELECT_TYPE"></option>
                <option value="Investigation" translate="SEARCH.FORM.INVESTIGATION_TYPE"></option>
                <option value="Dataset" translate="SEARCH.FORM.DATASET_TYPE"></option>
                <option value="Datafile" translate="SEARCH.FORM.DATAFILE_TYPE"></option>
            </select>
        </div>
        <div class="form-group">
            <p class="input-group">
                <input type="text" class="form-control input-sm" uib-datepicker-popup="{{searchFormController.dateFormat}}" ng-model="searchFormController.startDate" is-open="searchFormController.isStartDateOpen"  close-text="Close" placeholder="{{'SEARCH.FORM.START_DATE_PLACEHOLDER' | translate}}" on-return-click-submit-button />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default input-sm" ng-click="searchFormController.openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group">
            <p class="input-group">
                <input type="text" class="form-control input-sm" uib-datepicker-popup="{{searchFormController.dateFormat}}" ng-model="searchFormController.endDate" is-open="searchFormController.isEndDateOpen" close-text="Close" placeholder="{{'SEARCH.FORM.END_DATE_PLACEHOLDER' | translate}}" on-return-click-submit-button />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default input-sm" ng-click="searchFormController.openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button class="form-control btn btn-default btn-sm" ng-click="searchFormController.openParameterModal()" translate="SEARCH.FORM.ADD_PARAMETER_BUTTON"></button>
                </div>
                <div class="btn-group" role="group">
                    <button class="form-control btn btn-default btn-sm" ng-click="searchFormController.openSampleModal()" translate="SEARCH.FORM.ADD_SAMPLE_BUTTON"></button>
                </div>
            </div>
        </div>
        <div class="form-group" ng-repeat="parameter in searchFormController.parameters">
            <div class="input-group">
                <div class="form-control">{{parameter.name}} = {{parameter.value}}</div>
                <div class="input-group-addon" ng-click="searchFormController.removeParameter(parameter)"><span class="glyphicon glyphicon-remove"></span></div>
            </div>
        </div>
        <div class="form-group" ng-repeat="sample in searchFormController.samples">
            <div class="input-group">
                <div class="form-control">{{sample}}</div>
                <div class="input-group-addon" ng-click="searchFormController.removeSample(sample)"><span class="glyphicon glyphicon-remove"></span></div>
            </div>
        </div>
        <div ng-show="searchFormController.facilities.length > 1">
            <div class="form-group" ng-repeat="facility in searchFormController.facilities">
                <div class="input-group">
                    <label class="input-group-addon"><input type="checkbox" ng-model="facility.selected"></label>
                    <span class="form-control">{{facility.title}}</span>
                </div>
            </div>
        </div>
        <button type="submit" class="form-control btn btn-default" ng-click="searchFormController.search()" translate="SEARCH.FORM.SEARCH_BUTTON"></button>
    </form>
</div>
