<div ng-if="meta.tabs.length > 0">
	<br>
	<uib-tabset>
    	<uib-tab ng-repeat="tab in meta.tabs" ng-show="tab.items.length" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
      		<div class="tab-content">
				<div class="item" ng-repeat="item in tab.items">
					<div ng-if="item.label">
						<span class="label">{{item.label}}</span>
						<span ng-if="!item.template" class="value">{{item.value}}</span>
						<span ng-if="item.template" compile="item.template"></span>
					</div>
					<div ng-if="!item.label && item.template" compile="item.template"></div>
				</div>
			</div>
    	</uib-tab>
	</uib-tabset>
</div>