<div class="modal-header">
    <h3 class="modal-title" translate="DOWNLOAD.REMOVE_DOWNLOAD.MODAL.TITLE"></h3>
</div>
<div class="modal-body">
    <p translate="DOWNLOAD.REMOVE_DOWNLOAD.MODAL.MESSAGE"></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.ok(filter.form)" translate="DOWNLOAD.REMOVE_DOWNLOAD.MODAL.BUTTON.OK.TEXT"></button>
    <button class="btn btn-warning" ng-click="vm.cancel()" translate="DOWNLOAD.REMOVE_DOWNLOAD.MODAL.BUTTON.CANCEL.TEXT"></button>
</div>