# Derby Database Properties
driver=org.apache.derby.jdbc.ClientDataSource
dbProperties=Password=APP:User=APP:serverName=localhost:DatabaseName=topcat:connectionAttributes=";"create"'"="'"true

# MySQL Database Properties
#driver=com.mysql.jdbc.jdbc2.optional.MysqlDataSource
#dbProperties=user=topcat:password=secret:databaseName=topcat

# Oracle Database Properties
#driver=oracle.jdbc.pool.OracleDataSource
#dbProperties=url="jdbc:oracle:thin:@//localhost:1521/XE":ImplicitCachingEnabled=true:MaxStatements=200:user=topcat:password=secret 

# Glasfish home, must contain "glassfish/domains"
glassfish=/opt/glassfish3

# Glassfish admin port (default 4848)
port=4848

# A Glassfish file user to access the topcat admin service
adminUsername topcatadmin
adminPassword change-me
