<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>TopCAT Installation</title>
    </properties>

    <body>
        <a name="installation" />
        <section name="Installation">

            <subsection name="Compatibility">TopCAT requires icat.server 4.6-SNAPSHOT and ids.server 1.5.0-SNAPSHOT</subsection>

            <subsection name="Prerequisites">
                <ul>
                    <li>
                        The TopCAT distribution:
                        <a href="${repoUrl}/org/icatproject/TopCAT/${project.version}/TopCATv2-${project.version}-distro.zip">TopCATv2-${project.version}-distro.zip</a>
                    </li>
                    <li>
                        A suitable deployed container (here assumed to be glassfish) to support a web
                        application.
                        Testing has been carried out with
                        Glassfish 4.0.
                        <a href="http://icatproject.org/installation/glassfish/">Glassfish installation instructions</a>
                        are available.
                    </li>
                    <li>
                        A database as described in
                        <a href="http://icatproject.org/installation/database/">Database installation instructions</a>
                        installed on the server
                    </li>
                    <li>
                        Python (version 2.4 to 2.7) installed on the server.
                    </li>

                </ul>
            </subsection>

            <subsection name="Installation">
                <p>Please see topcat <a href="https://github.com/icatproject/topcat/wiki">wiki</a></p>
            </subsection>

            <subsection name="Configuration">
                <p>Please see topcat <a href="https://github.com/icatproject/topcat/wiki">wiki</a></p>
            </subsection>
        </section>
    </body>
</document>

