/* 
	Icat Sevrvers Table 
 */
.header{
	
	color: white;
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
	background-color: #295380;
	
}

.table_style{
	background-color: #ececec;
	color: black;
	overflow:auto;
}

.selected {
	background-color: #A9C0D6;
	color: black;
}

.mergeAuto{
	min-width: 800px;
	margin-right: 50px;
	margin-left: 50px;
}
.centerObject {
	
	padding-top: 20px;
	text-align: center;
	
}

.font {
	color: red
}

.spacing {
	margin-left: 3px;
}

.mainBody{
	background-color: #A9C0D6;
	font: bold;
}

.button-spacing {
	margin-right: 5px;
}

.centerBodyContent {
	margin-top: 20px;
	margin: 0px auto;
}

.alertMainBody {
	background-color: #A9C0D6;
}

.MainTitle {
	color: #295380;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 30px;
	vertical-align: middle;
	text-align: center;
}

.TableHeader {
	margin-top: 5px;
	margin-bottom: 5px;
	font-stretch: normal;
	font-size: 20px;
	font-family: cursive, @Arial Unicode MS;
	font-weight: bold;
}

.incompleteSetting{
	color: White;
	background-color: #AD3131;
}

.pingDialog-style{
	max-width: 350px;
}
.margin-top {
	margin-top: 15px;
	margin-bottom: 15px;
	}
.helpHeader {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.italic {
	font-style: italic;
}
.helpSubHeader {
	font-weight: bold;
}
.keySection {
	margin-left: 15px;
}
.word-wrap{
		word-wrap:break-word;
}
.scroll {
overflow:auto;
}
