html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.browse-box {
  height: 470px;
  /*overflow: auto;*/

}

.search-form {
  margin: 10px 0;
}

/* make notification message go above the top navigation bar */
.inform-fixed {
  top: 60px;
  z-index: 2002;
}

.current {
   font-weight: bold;
   color: red;
}


[ng-click], .pointer {
    cursor: pointer;
}

/* nav bar split button */
.navbar-nav > li.dropdown-split-right > a {
  padding-left: 7px;
}
.navbar-nav > li.dropdown-split-left > a {
  padding-right: 0;
}

.browse-grid {
    width: 100%;
    height: 400px;
}

.tab-content {
  margin: 0px;
  padding: 5px;
}

.param-title {
  font-weight: bold;
}

.param-title::after {
    content: ": ";
}

.param-value {

}

.no-rows {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -10;
}

.no-rows .empty-message {
  position: absolute;
  top: 30%;
  font-size: 20px;
  width: 400px;
}

.cart-container {
  padding: 0 10px;
}

.cart-grid {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}

.my-data-container {
  padding: 0 10px;
}

.my-data-grid {
  width: 100%;
  height: 500px;
}

.element-spinner {
  position: relative;
  display: block;
  margin: 0 auto;
}

.grid-cell-spinner {
  position: relative;
  display: block;
  margin: 0 auto;
  float: none;
}

.has-archived {
  margin-top: 20px;
}

.grid-cell-spinner .spinner {
  top: 10px !important;
}

/* Fix ui-grid-cell border color issue when css is concat/minified */
.ui-grid-cell {
  border-color: #d4d4d4;
}

.cart-buttom-section {
  margin-top: 50px;
}

/* disable a link */
.not-active {
  color: #AAAAAA;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

/* make ng-click a pointer on rollover */
a[ng-click]{
    cursor: pointer;
}

/*cart trolly item count icon*/
.glyphicon.glyphicon-shopping-cart {
    font-size: 16px;
    color: #5e5e5e;
}

/* pager page input box width */
.ui-grid-pager-control input {
  width: 80px;
}

/* pager row count select width */
.ui-grid-pager-row-count-picker select {
  width: 80px;
}

