html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.search-form {
  margin: 10px 0;
}

/* make notification message go above the top navigation bar */
.inform-fixed {
  top: 60px;
  z-index: 2002;
}

.current {
   font-weight: bold;
   color: red;
}


[ng-click], .pointer {
    cursor: pointer;
}

/* nav bar split button */
.navbar-nav > li.dropdown-split-right > a {
  padding-left: 7px;
}
.navbar-nav > li.dropdown-split-left > a {
  padding-right: 0;
}

.browse-grid {
    width: 100%;
    height: 400px;
}

.no-rows {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -10;
}

.no-rows .empty-message {
  position: absolute;
  top: 30%;
  font-size: 20px;
  text-align: center;
}

.cart-container {
  padding: 0 10px;
}

.cart-grid {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}

.my-data-container {
  padding: 0 10px;
}

.my-data-grid {
  width: 100%;
  height: 400px;
}

.element-spinner {
  position: relative;
  display: block;
  margin: 0 auto;
}

.loading {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  float: none;
  background: url(/images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.loading.collapsed {
  height: 14px;
  width: 14px;
}

.has-archived {
  margin-top: 20px;
}

.grid-cell-spinner .spinner {
  top: 10px !important;
}

/* Fix ui-grid-cell border color issue when css is concat/minified */
.ui-grid-cell {
  border-color: #d4d4d4;
}

.cart-buttom-section {
  margin-top: 50px;
}

/* disable a link */
.not-active {
  color: #AAAAAA;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

/* make ng-click a pointer on rollover */
a[ng-click]{
    cursor: pointer;
}

/* cart trolly item count icon*/
.glyphicon.glyphicon-shopping-cart {
    font-size: 16px;
    color: #5e5e5e;
}

/* pager page input box width */
.ui-grid-pager-control input {
  width: 80px;
}

/* pager row count select width */
.ui-grid-pager-row-count-picker select {
  width: 80px;
}

.inline-block {
  display: inline-block;
}

/* nav bar logo */
.navbar-brand {
    padding-top: 0;
    padding-left: 0;
}

/* help */
#globus_help .dl-horizontal dt{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 1em;
    width: auto;
    padding-right: 1em;
}

#globus_help .dl-horizontal dd{
    margin-left: 10px;
    margin-bottom: 1em;
}

/* loading bar spinner */
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  right: 10px;
  left: auto;
  top: 70px;
}


.eu-cookie-law-consent {
  position: relative;
  z-index: 1000;
  height: 40px;
}

.eu-cookie-law-consent-message {
  background: #e7e7e7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
}

.eu-cookie-law-consent-button {
  float: right;
}

.list-noindent {
  list-style-position: inside;
  padding-left:0;
}

.ng-submitted .ng-invalid {
  border-width: 2px;
  border-color: #FB6F6F;
  border-style: solid;
}

.modal-lg {
  width: 100%;
  height: 100%;
  padding: 42px;
  margin: 0;
}

.modal-lg .modal-content {
  height: 100%;
}

.result-count {
    display: block;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.meta-box .tab-pane {
  overflow: auto;
  height: 150px;
}

@media screen and (min-height: 768px){ .meta-box .tab-pane { height: 256px; } }
@media screen and (min-height: 800px){ .meta-box .tab-pane { height: 266px; } }
@media screen and (min-height: 900px){ .meta-box .tab-pane { height: 300px; } }
@media screen and (min-height: 1050px){ .meta-box .tab-pane { height: 350px; } }
@media screen and (min-height: 1080px){ .meta-box .tab-pane { height: 360px; } }
@media screen and (min-height: 1440px){ .meta-box .tab-pane { height: 480px; } }

.meta-box {
  margin: 0px;
  padding: 5px;
}

.meta-box .item .label {
  font-weight: bold;
  color: #333;
  font-size: 14px;
  padding-left: 0px;
}

.meta-box .item .label::after {
    content: ": ";
}


.datetime-picker {
  padding: 7px;
  text-align: center;
  z-index: 1000000;
}

.datetime-picker .time {
  display: inline-block;
}

.datetime-picker .buttons {
  text-align: right;
  margin-top: 7px;
}

.ui-grid .datetime-picker-input input,.ui-grid .datetime-picker-input button, .ui-grid .datetime-picker-input .input-group-btn {
  height: 22px !important;
}

.ui-grid .datetime-picker-input input {
  font-size: 14px;
  padding: 0px;
}

.ui-grid .datetime-picker-input button {
  padding: 0px 9px 0px 9px;
}

.ui-grid .datetime-picker-input .glyphicon {
  font-size: 12px;
}

.datetime-picker-input .ui-grid-filter-button {
    right: 20px;
    z-index: 3;
}


.ui-grid-cell-contents {
    padding: 3px;
}

.btn-entity-action {
  margin-left: 3px;
}

.upload-area {
  border-style: dashed;
  border-width: 3px;
  border-color: #ddd;
  overflow: auto;
  padding: 14px;
}

.upload-area.enter{
  background: yellow;
}

body[ng-cloak=""] { 
    display: block !important;
}

body[ng-cloak=""] > * { 
    display: none  !important;
}

#loading_message {
    display: none  !important;
}

body[ng-cloak=""] #loading_message { 
    display: block !important;
}
